@import "colours.less";
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    font-family: 'Lato', sans-serif;
    background: @light;
}

body > header {
    color: @light;
    padding: 4px;
    text-align: center;
    text-size: large;
    background: @blue;
}

#NavBar > nav {
    background: @light;
    a, button {
        text-decoration: none;
        border: 1px solid @dark;
        border-right: 1px solid lighten(@dark, 20%);
        border-top: 1px solid lighten(@dark, 20%);
        margin: 3px;
        border-radius: 5px;
        padding: 1px 10px;
        color: black;
        &:hover {
            background-color: lighten(@light, 20%);
        }
        ul {
            margin-top: -4px;
            background: fadeout(@dark, 10%);
            color: @light;
            li {
                padding: 5px;
                list-style: none;
                &:hover {
                    background: lighten(@dark, 10%);
                    color: white;
                }
            }
        }
    }
    input {
        width: 5em;
        margin: 3px 0 3px 0;
    }
}

#TabPanel > main {
    .gutter {
        width: 6px;
        border-left: 1px solid @dark;
        border-right: 1px solid @dark;
        background: @light;
        cursor: col-resize;
    }
    section {
        border-top: 1px solid @dark;
        border-bottom: 1px solid @dark;
        background: url('shadow_vert.png') repeat-x;
        & > div {
            border: 4px solid @light;
            background: white;
        }
    }
    nav {
        border-bottom: 2px solid @light;
        & > a {
            @closesize: 1.3ex;
            border: 1px solid @dark;
            border-radius: 8px 8px 0px 0px;
            background: lighten(@dark,20%);
            margin-top: 5px;
            padding: 4px 6px 2px 6px;
            color: darken(@dark,20%);
            &.selected {
                background: @light;
                margin-top: 1px;
                border-bottom: none;
                .close {
                    border: 1px solid darken(@light, 20%);
                }
            }
            &:not(.selected):hover {
                background: darken(@light, 10%);
            }
            &:first-child {
                border-left: none;
            }
            .close {
                display: inline-block;
                width: @closesize;
                height: @closesize;
                margin: 1px -2px 0px 4px;
                vertical-align: baseline;
                border: 1px solid @dark;
                border-radius: 5px;
                &:hover {
                    border: 1px solid @dark;
                    background: rgba(255, 155, 155, 0.8);
                }
            }
        }
        .spacer {
            border-bottom: 1px solid @dark;
        }
    }
}

.paper {
    padding: 1em;
    background: white;
    & > * {
        margin: 0.8em 2em 0.3em 1em;
    }
}
