@headersize: 4ex;
@navsize: 4ex;
@footersize: 4ex;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, .React {
    width: 100%;
    height: 100%;
}
.React > footer, .React > nav, .React > header {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}

.React > header {
    height: @headersize;
    top: 0;
}

.React > nav {
    top: @headersize;
    height: @navsize;

    display: flex;
    flex-direction: row;
    a {
        user-select: none;
        display: inline-block;
        flex: 0 0 auto;
    }
}

.React > footer {
    display: flex;
    flex-direction: row;
    height: @footersize;
    bottom: 0;
}

.React > main {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: @headersize+@navsize;
    bottom: @footersize;

    display: flex;
    flex-direction: row;
    align-content: stretch;

    section {
        position: relative;
        overflow-y: auto;
        height: 100%;
        &:first-child {
            width: 20%;
        }
        &:last-child {
            width: 30%;
        }
        display: flex;
        flex-direction: column;
        nav {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            a {
                flex: 0 0 auto;
                user-select: none;
                display: inline-block;
            }
        }
        & > div {
            flex: 1 1 auto;
            overflow-y: auto;
            height: 85%;
            & > div {
                height: 100%;
            }
        }
    }

    .central {
        flex: 1;
    }

}

a {
    cursor: pointer;
}

.spacer {
    flex: 1;
}

.paper {
    min-height: 100%;
}

.CodeMirror {
    height: 100% !important;
    max-height: 100% !important;
}
